#Filtypes
*.bin
*.log
*.db

#Ignore unity temp and meta data that doesn't belong in git
Temp/*
Library/*
Assembly-CSharp.csproj
assetDatabase3
expandedItems

#OS and IDE files
.DS_Store
.vscode/*
.vs/*

*cs.meta
